@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700&display=swap');

$darkAccent: #E7859A;
$lightAccent: #F3B8C6;
$backgroundBase: #F3B8C6;

$shadow: 1px 1px 10px 2px darken($backgroundBase, 20%);
$default-border: 1px solid darken($backgroundBase, 35%);

body {
  background: $backgroundBase;
  margin: 2rem auto;
  max-width: 90%;
}

.App {
  text-align: center;
}

#preview,
.title {
  display: inline-block;
}

.colorScheme {
  background-color: lighten($backgroundBase, 30%);
  border: $default-border;
  box-shadow: $shadow;
  border-top: none;
}

.toolbar {
  position: relative;
  background-color: $darkAccent;
  padding: 4px 4px 3px 3px;
  border: $default-border;
  box-shadow: $shadow;
  font-family: 'Sora', 'Helvetica', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  i {
    width: 25px;
    color: black;
    margin-left: 5px;
  }
  .fa-arrows-alt,
  .fa-compress {
    position: absolute;
    right: -5px;
  }
}

.fa-retweet,
.fa-compress,
.fa-arrows-alt {
  &:hover {
    color: lighten($lightAccent, 10%);
    cursor: pointer;
  }
}

.fa-free-code-camp {
  margin-right: 3px;
}

.editorWrap {
  width: 1fr;
  margin: 1rem auto;
  .toolbar {
    width: 99%;
  }
  textarea {
    @extend .colorScheme;
    width: 99%;
    min-height: 200px;
    margin-bottom: -5px;
    resize: vertical;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 12px;
  }
}

.converter {
  width: 100px;
  text-align: center;
  font-size: 35px;
  margin: auto;
}

.previewWrap {
  @extend .colorScheme;
  width: 1fr;
  margin: 20px auto;
  min-height: 200px;
  overflow-wrap: break-word;
  padding-right: 20px;
  .toolbar {
    left: -1px;
    width: 100%;
    padding-right: 17px;
  }
  #preview {
    margin-left: 5px;
    margin-top: -10px;
    width: 100%;
  }
}

.maximized {
  width: 96%;
  min-height: 100vh;
  margin: auto;
  textarea {
    min-height: 95vh;
    resize: none;
  }
}

.hide {
  display: none;
}

// MARKDOWN STYLES
#preview {
  blockquote {
    border-left: 3px solid $darkAccent;
    color: $darkAccent;
    padding-left: 5px;
    margin-left: 25px;
  }

  code {
    background: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
  }

  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }

  h1 {
    border-bottom: 2px solid $darkAccent;
  }

  h2 {
    border-bottom: 1px solid $darkAccent;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid $darkAccent;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.footer {
  color: white;
  text-align: center;
  font-family: 'Sora', 'Helvetica', sans-serif;
  margin: 2rem 0;

  a {
    color: $darkAccent;
  }
}
