@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700&display=swap');

$fonts: 'Sora', 'Helvetica', sans-serif;
$fonts-code: 'Cascadia Code PL', Consolas, 'Courier New', monospace;
$darkAccent: #E7859A;
$lightAccent: #F3B8C6;

$shadow: 1px 1px 10px 2px darken($lightAccent, 20%);
$default-border: 1px solid darken($lightAccent, 35%);

body {
  background: $lightAccent;
  padding: 1rem;
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

#editor, #preview {
  max-height: 74vh;
  border: 2px solid $darkAccent;
  border-radius: 3px;
  background-color: white;
  padding: 1rem;
  font-size: 1rem;
  
  overflow: auto;
}

#editor {
  font-family: $fonts-code;
  resize: none;
  height: 74vh;
  width: 94.5%;
}

.toolbar {
  position: relative;
  border: $default-border;
  box-shadow: $shadow;
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: $darkAccent;
  font-family: $fonts;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  i {
    width: 25px;
    color: black;
    margin-left: 5px;
  }
  .fa-arrows-alt,
  .fa-compress {
    position: absolute;
    right: -5px;
  }
}

// MARKDOWN STYLES
#preview {
  font-family: $fonts;

  blockquote {
    border-left: 3px solid $darkAccent;
    color: $darkAccent;
    padding-left: 5px;
    margin-left: 25px;
  }

  code {
    padding: 3px;
    background: lighten($lightAccent, 10%);
    border-radius: 3px;
    font-size: 1rem;
    font-family: $fonts-code;
  }

  pre {
    padding: 1rem;
    border-radius: 3px;
    background: lighten($lightAccent, 10%);
    box-shadow: 3px 3px 3px $darkAccent;
  }

  h1 {
    border-bottom: 2px solid $darkAccent;
  }

  h2 {
    border-bottom: 1px solid $darkAccent;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid $darkAccent;
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    background-color: lighten($lightAccent, 10%);
  }

  img {
    max-width: 100%;
  }
}

footer {
  color: white;
  text-align: center;
  font-family: $fonts;
  margin-top: 1rem;
  a {
    color: $darkAccent;

    &:hover {
      color: darken($darkAccent, 10%);
    }
  }
}
