@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$fonts: 'Sora', 'Helvetica', sans-serif;
$fonts-code: 'Cascadia Code PL', 'Fira Code', Consolas, 'Courier New', monospace;
$darkAccent: #E7859A;
$lightAccent: #F3B8C6;

$shadow: 1px 1px 10px 2px darken($lightAccent, 20%);
$default-border: 1px solid darken($lightAccent, 35%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $lightAccent;
  padding: 1rem;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: stretch;
  align-content: stretch;
  gap: 1rem;
}

.panel-container {
  background-color: white;
  border: 2px solid $darkAccent;
}

.toolbar {
  position: sticky;
  border: $default-border;
  box-shadow: $shadow;
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: $darkAccent;
  font-family: $fonts;
  font-weight: 600;
  color: white;
}

#editor, #preview {
  padding: 1rem;
  overflow-y: scroll;
  height: 35vh;
  min-height: 35vh;
}

#editor {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-family: $fonts-code;
  font-size: 1rem;
}

// MARKDOWN STYLES
#preview {
  font-family: $fonts;

  blockquote {
    border-left: 3px solid $darkAccent;
    color: $darkAccent;
    padding-left: 5px;
    margin-left: 25px;
  }

  code {
    padding: 3px;
    background: lighten($lightAccent, 10%);
    border-radius: 3px;
    font-size: .8rem;
    font-family: $fonts-code;
  }

  pre {
    padding: 1rem;
    border-radius: 3px;
    background: lighten($lightAccent, 10%);
    box-shadow: 3px 3px 3px $darkAccent;
  }

  h1 {
    border-bottom: 2px solid $darkAccent;
    margin-bottom: 1rem;
  }

  h2 {
    border-bottom: 1px solid $darkAccent;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid $darkAccent;
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    background-color: lighten($lightAccent, 10%);
  }

  img {
    width: 50%;
  }
}

footer {
  margin-top: 1rem;
  font-family: $fonts;
  line-height: 1.5rem;
  text-align: center;
  color: white;
  a {
    color: $darkAccent;

    &:hover {
      color: darken($darkAccent, 10%);
    }
  }
}

@media screen and (orientation: landscape) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  #editor, #preview {
    height: 80vh;
  }
}